@page
@model Todo.Pages.Todos.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure that you want to delete this?</h3>

<div>
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Todos.Title)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Todos.Title)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Todos.Description)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Todos.Description)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Todos.IsCompleted)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Todos.IsCompleted)
        </dd>

        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Todos.DueDate)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Todos.DueDate)
        </dd>

    </dl>

    <form method="post">
        <input type="hidden" asp-for="Todos.Id" />
        <a asp-page="./Index" class="btn btn-primary">Back</a>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>