@page
@model Todo.Pages.Todos.DetailModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<hr/>
<div>
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Todos.Title)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Todos.Title)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Todos.Description)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Todos.Description)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Todos.IsCompleted)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Todos.IsCompleted)
        </dd>

        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Todos.DueDate)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Todos.DueDate)
        </dd>

    </dl>
</div>

<div>
    <a asp-page="./Index" class="btn btn-danger">Back</a>
    <a asp-page="./Edit" asp-route-id="@Model.Todos.Id" class="btn btn-primary">Edit</a>
</div>